body{
    font-family: cursive;
}

#body{
    height: 100%;
}

h1{
    text-align: center;
}


#authForm{
    display: grid;
    row-gap: 20px;
    width: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: solid thin black;
    border-radius: 10px;
    background-color: rgb(78, 124, 124);
    padding: 10px;
}